# Dependencias
node_modules/

# Turbo
.turbo/
turbo.log

# Next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# NestJS
dist/
build/

# Electron
release/

# Compilados
*.class
*.log

# Entorno
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db

# Editores
.idea/
.vscode/
*.swp
